.bg-info-slider {
  background-color: #feeae9;
  border-radius: 12px;
}
.text-color {
  color: #ff136f;
}
.btn-warning-color {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  border-radius: 6px;
  color: white;
}
.categories img {
  height: 100px;
}
.bg-info-watch {
  background: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
  border-radius: 12px;
}
.bg-danger-bag {
  background: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
  border-radius: 12px;
}
.bg-info-shoes {
  background: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
  border-radius: 12px;
}
.footer-bg {
  background-color: #feeae9;
  border-radius: 12px;
}
